html, body {
    margin: 0;
    padding: 0;
}

.colorblue{
	background: #1774D1;
	color: #fff;
	border-radius: 0px;
	margin-top: 5px;
}

.navbar-default{
	background: #222 !important;
}

.socialIcons{
	width: 25px !important;
	border-radius: 5000px;
	margin-left: -20px;
}

.gamaylang{
	margin-right: 300px !important;
}

.gamaypa{
	margin-right: 80px !important;
}

.numberSaTaasBackground{
	background: #1774D1;
	color: #fff;
	padding: 5px;
	padding-left: 15px !important;
	padding-right: 15px !important;
	position: absolute;
	top: 0px;
	height: 55px;
	width: 150px;
	margin-left: 180px;
}

.numberSaTaas{
	top: 15px;
	position: relative;
	color: #fff;
	font-size: 15px;
	margin-left: 193px;
}

.links{
	margin-left: auto;
	margin-right: auto;
}

.Links li{
	display: inline;
}

.Links li a{
	color: #222;
	font-size: 16px;
}

.company{
	font-family: impact;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 42px;
}

.active{
	background: #1774D1;
	color: #fff !important;
}

#myNav li a{
	color: #222;
}

#myNav li a:hover{
	background: #125ca7;
	color: #fff !important;
}

.container-fluid h3{
	font-family: impact;
	font-size: 30px;
}

.companytext{
	margin-left: auto;
	margin-right: auto;
}

.itemName{
	font-weight: bold;
	font-size: 16px;;
}

.col-md-4 h4{
	font-family: impact;
	font-size: 22px;
}

.container-fluid .pull-left{
	display: inline;
}

.signin, .slash, .register{
	color: #fff;
	top: 18px;
	position: relative;
	letter-spacing: 1px;
}

.signin, .slash, .register{
	color: #fff;
	top: 3px;
	position: relative;
	letter-spacing: 1px;
}

.log-frm {
}
.log-frm ul {
    margin: 0 !important;
    padding: 0 !important;
}
.log-frm ul li {
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 25px;
}
.log-frm ul li a {
    color: #f47521;
    cursor: pointer;
    display: block;
    padding: 10px 0;
}
.log-frm ul li p {
    border: 1px solid #ccc;
    color: #666;
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0;
    padding: 2px 5px;
}
.log-frm ul li input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 0;
    color: #000;
    display: block;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 10px;
    width: 100%;
}
.model-l {    
    padding-right: 0px;    
}
.model-r .o-r {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100%;
    bottom: 0;
    height: 40px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    left: -19px;
    top: 0;
    width: 40px;
    z-index: 99999;
}
.model-r .o-r span {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ccc;
    color: #666;
    display: block;
    height: 100%;
    padding: 8px 0 0;
    text-align: center;
    width: 100%;
    border-radius: 100%;
    display:block;
    position: relative;
}
.model-r {
    padding-left: 30px;
    position: relative;
    border-left: 1px dotted #cccccc;
}
.forgot {
    display: none;
}

.loginpaypalcontainer{
	width: 350px;
}

.modal-header{
	background: #1774D1;
	color: #fff;
}

.modal-content{
	border-radius: 0px !important;
}

.redAsterisk{
  color: red;
  font-size: 12px;
}